<li>
    <form method="post" action="/todos/toggle" style="display:inline">
        <input type="hidden" name="id" value="{{ id }}" />
        <button type="submit">
            @if(done)
            Undo
            @else
            Done
            @endif
        </button>
    </form>

    <span>
        {{ title }}
    </span>

    <form method="post" action="/todos/delete" style="display:inline">
        <input type="hidden" name="id" value="{{ id }}" />
        <button type="submit">Delete</button>
    </form>
</li>
