@if(loginRequired)
<section class="dg-card"><div class="dg-card-body"><h2 class="dg-card-title">{{ t('auth.login_required.title') }}</h2><p>{{ t('auth.login_required.message') }}</p><a class="dg-button" href="/login">{{ t('nav.login') }}</a></div></section>
@else
@if(projectNotFound)
<section class="dg-card"><div class="dg-card-body"><h2 class="dg-card-title">{{ t('projects.not_found.title') }}</h2><p>{{ t('projects.not_found.message') }}</p><a class="dg-button" href="/projects">{{ t('projects.back') }}</a></div></section>
@else
@include("fragments/project_edit_form.html")
@endif
@endif