<div data-project-type-create class="dg-stack">
    @if(hasProjectTypesError)@include("partials/alert_error.html")@endif
    @if(hasProjectTypesSuccess)@include("partials/alert_success.html")@endif

    <details class="dg-card dg-collapsible" data-dg-collapse-key="portal.project_types.create" open>
        <summary class="dg-card-summary"><h2 class="dg-card-title">{{ t('project_types.create') }}</h2></summary>
        <div class="dg-card-body">
            <form class="dg-form"
                  method="post"
                  action="/project-types/create"
                  dg-post="/project-types/create"
                  dg-target="[data-project-type-create]"
                  dg-on-success-refresh="[data-project-types-list]">
                <div class="dg-form-grid">
                    <div class="dg-field">
                        <label for="code">{{ projectTypeCodeLabel }} @if(projectTypeCodeRequired):@endif</label>
                        <input id="code" name="code" value="{{ createProjectTypeCode }}" @if(projectTypeCodeRequired)required@endif />
                    </div>
                    <div class="dg-field">
                        <label for="title">{{ projectTypeTitleLabel }} @if(projectTypeTitleRequired):@endif</label>
                        <input id="title" name="title" value="{{ createProjectTypeTitle }}" @if(projectTypeTitleRequired)required@endif />
                    </div>
                </div>
                <div class="dg-form-actions"><button class="dg-button" type="submit">{{ t('project_types.create') }}</button></div>
            </form>
        </div>
    </details>
</div>