<div data-role-edit class="dg-stack">
    @if(hasRolesError)@include("partials/alert_error.html")@endif
    @if(hasRolesSuccess)@include("partials/alert_success.html")@endif
    <section class="dg-card">
        <div class="dg-card-body">
            <form class="dg-form"
                  method="post"
                  action="/roles/{{ roleId }}/update"
                  dg-post="/roles/{{ roleId }}/update"
                  dg-target="[data-role-edit]"
                  dg-on-success-refresh="[data-roles-list]">
                <div class="dg-form-grid">
                    <div class="dg-field">
                        <label for="code">{{ roleCodeLabel }} @if(roleCodeRequired):@endif</label>
                        <input id="code" name="code" value="{{ roleCode }}" @if(roleCodeRequired)required@endif />
                    </div>
                    <div class="dg-field">
                        <label for="title">{{ roleTitleLabel }} @if(roleTitleRequired):@endif</label>
                        <input id="title" name="title" value="{{ roleTitle }}" @if(roleTitleRequired)required@endif />
                    </div>
                </div>
                <div class="dg-form-actions">
                    <button class="dg-button" type="submit">{{ t('roles.update') }}</button>
                    <a class="dg-button" href="/roles">{{ t('roles.back') }}</a>
                </div>
            </form>
        </div>
    </section>
</div>